<html>
  <head></head>
  <body>
    <!-- the ERB tag below will be replaced by the value of @name -->
    <h1>My name is curtis and i'm learning about links!</h1>
    <a href="/"> Home</a>
  </body>
</html>