<html>
  <head></head>
  <body>
    <!-- the ERB tag below will be replaced by the value of @name -->
    <h1><%= @album.title %>!</h1>
    <p>
      release_year: <%= @album.release_year %>
      artist: <%= @artist.name %>
    </p>
  </body>
</html>