<html>
  <head></head>
  <body>
      <h1> Albums </h1>
      <% @albums.each do |album| %>
        <div>Title: <%= album.title %></div>
        <div>Released: <%= album.release_year %></div>
          <a href="/albums/<%=album.id%>">Click Here - <%= album.title %></a>
          <p></p>
      <% end %>
  </body>
</html>