<h1>Create an Artist</h1>
<form action="/artists" method="POST">
  <div>
  <label>Artist name </label>
  <input type='text' name='name'>
  </div>
  <div>
  <label>Release Year</label>
  <input type='text' name='genre'>
  </div>
  <input type="submit">
</form>